body {
  --bg: #f8f8f2;
  --websiteTitle: #2766a7;
  --textNormal: #282a36;
  --textTitle: #1898d4;
  --menuLink: #2766a7;
  --textLink: #1898d4;

  background-color: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #232838;
  --websiteTitle: #dd8a9c;
  --textNormal: #f8f8f2;
  --textTitle: #f8d72c;
  --menuLink: #dd8a9c;
  --textLink: #8dd6f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textTitle);
}

a {
  color: var(--textLink);
}
